<nav>
    <a class="logo" href="/">
        GARDENERS</a>
    <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn">
    <ul>
        <li>
            <label for="btn-1" class="show">Gardening+</label>
            <a href="/Gardening" id="gardening">Gardening</a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li>
                    <label for="btn-3" class="show">Miniature Gardens +</label>
                    <a href="/Gardening/MiniatureGardens">Miniature Gardens</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Gardening/MiniatureGardens/GardenKits">Garden Kits</a></li>
                        <li><a href="/Gardening/MiniatureGardens/Terrariums">Terrariums</a></li>
                        <li><a href="/Gardening/MiniatureGardens/GreenBeauty">Green Beauty</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Plants By Features +</label>
                    <a href="/Gardening/PlantsByFeatures">Plants By Features </a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Gardening/PlantsByFeatures/AirPurifierPlants">Air Purifier Plants</a></li>
                        <li><a href="/Gardening/PlantsByFeatures/IndoorPlants">Indoor Plants</a></li>
                        <li><a href="/Gardening/PlantsByFeatures/HangingPlants">Hanging Plants</a></li>
                        <li><a href="/Gardening/PlantsByFeatures/CactusPlants">Cactus Plants</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Plants By Location +</label>
                    <a href="/Gardening/PlantsByLocation">Plants By Location</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Gardening/PlantsByLocation/VerticalGarden">Vertical Garden</a></li>
                        <li><a href="/Gardening/PlantsByLocation/BalconyGarden">Balcony Garden</a></li>
                        <li><a href="/Gardening/PlantsByLocation/TerraceGarden">Terrace Garden</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Plants By Seasons +</label>
                    <a href="/Gardening/PlantsBySeasons">Plants By Seasons</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Gardening/PlantsBySeasons/WinterPlants">Winter Plants</a></li>
                        <li><a href="/Gardening/PlantsBySeasons/SummerPlants">Summer Plants</a></li>
                        <li><a href="/Gardening/PlantsBySeasons/MonsoonPlants">Monsoon Plants</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--------------------------------------------------------------------------------->
        <li>
            <label for="btn-1" class="show">Plants +</label>
            <a href="/Plants">Plants</a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li>
                    <label for="btn-3" class="show">Plants By Type +</label>
                    <a href="/Plants/PlantsByType">Plants By Type</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Plants/PlantsByType/AvenueTrees">Avenue Trees</a></li>
                        <li><a href="/Plants/PlantsByType/BonsaiPlants">Bonsai Plants</a></li>
                        <li><a href="/Plants/PlantsByType/ClimbersAndCreepers">Climbers And Creepers</a></li>
                        <li><a href="/Plants/PlantsByType/Ferns">Ferns</a></li>
                        <li><a href="/Plants/PlantsByType/FruitPlants">Fruit Plants</a></li>
                        <li><a href="/Plants/PlantsByType/FicusAndFig">Ficus And Fig</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Flowering Plants +</label>
                    <a href="/Plants/FloweringPlants">Flowering Plants</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Plants/FloweringPlants/RosePlants">Rose Plants</a></li>
                        <li><a href="/Plants/FloweringPlants/JasminePlants">Jasmine Plants</a></li>
                        <li><a href="/Plants/FloweringPlants/HibiscusPlants">Hibiscus Plants</a></li>
                        <li><a href="/Plants/FloweringPlants/BougainvilleaPlants">Bougainvillea Plants</a></li>
                        <li><a href="/Plants/FloweringPlants/FloweringCreepers">Flowering Creepers</a></li>
                        <li><a href="/Plants/FloweringPlants/FloweringTrees">Flowering Trees</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Foliage Plants +</label>
                    <a href="/Plants/FoliagePlants">Foliage Plants</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Plants/FoliagePlants/MoneyPlants">Money Plants</a></li>
                        <li><a href="/Plants/FoliagePlants/JadePlants">Jade Palnts</a></li>
                        <li><a href="/Plants/FoliagePlants/DracaenaPlants">Dracaena Plants</a></li>
                        <li><a href="/Plants/FoliagePlants/CrotonPlants">Croton Plants</a></li>
                        <li><a href="/Plants/FoliagePlants/AraliaPlants">Aralia Plants</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Plants By Uses +</label>
                    <a href="/Plants/PlantsByUses">Plants By Uses</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Plants/PlantsByUses/MedicinalPlants">Medicinal Plants</a></li>
                        <li><a href="/Plants/PlantsByUses/InsectRepellentPlants">Insect Repellent Plants</a></li>
                        <li><a href="/Plants/PlantsByUses/AromaticPlants">Aromatic Plants</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-------------------------------------------------------------------------------------------------->
        <li>
            <label for="btn-2" class="show">Seeds +</label>
            <a href="#">Seeds</a>
            <input type="checkbox" id="btn-2">
            <ul>
                <li>
                    <label for="btn-3" class="show">Herb Seeds +</label>
                    <a href="#">Herb Seeds</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="#">Organic Seeds</a></li>
                        <li><a href="#">Imported/Hybrid Seeds</a></li>
                        <li><a href="#">Exotic Vegetable Seeds</a></li>
                        <li><a href="#">Microgreen Seeds</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Flowering Seeds </label>
                    <a href="#">Flowering Seeds</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="#">OP Plant Seeds</a></li>
                        <li><a href="#">Imported Seeds</a></li>
                        <li><a href="#">Fragrant Seeds</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Forestry Seeds </label>
                    <a href="#">Forestry Seeds</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="#">Medicinal Tree Seeds</a></li>
                        <li><a href="#">Palm Tree Seeds</a></li>
                        <li><a href="#">Bamboo Seeds</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Other Seeds </label>
                    <a href="/Seeds/OtherSeeds">Other Seeds</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="/Seeds/OtherSeeds/GrassSeeds">Grass Seeds</a></li>
                        <li><a href="/Seeds/OtherSeeds/FruitSeeds">Fruit Seeds</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!---------------------------------------------------------------------------------------->
        <li>
            <label for="btn-1" class="show">Soil And Fertilizer </label>
            <a href="/SoilAndFertilizer">Soil And Fertilizer</a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li><a href="/SoilAndFertilizer/PottingSoilMixes">Potting Soil Mixes</a></li>
                <li><a href="/SoilAndFertilizer/Fertilizer">Fertilizers</a></li>
                <li><a href="/SoilAndFertilizer/SoilAmendments">Soil Amendments</a></li>
                <li><a href="/SoilAndFertilizer/SeedStartingSoils">Seed Starting Soils</a></li>
            </ul>
        </li>
        <!--------------------------------------------------------------------------------------------------------->
        <li>
            <label for="btn-1" class="show">Pests Controls </label>
            <a href="/PestsADC">Pests Controls</a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li><a href="#">Fences And Barriers</a></li>
                <li><a href="#">Animal Controls</a></li>
                <li><a href="#">Insect Controls</a></li>
                <li><a href="#">Plant Disease Controls</a></li>
            </ul>
        </li>
        <!------------------------------------------------------------------------------------>
        <li>
            <label for="btn-2" class="show">Accessories +</label>
            <a href="/Accessories">Accessories</a>
            <input type="checkbox" id="btn-2">
            <ul>
                <li><a href="#">Gardening Tools</a></li>
                <li><a href="#">Miniature Garden Toys</a></li>
                <li>
                    <label for="btn-3" class="show">Decorations +</label>
                    <a href="#">Decorations</a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="#">fountains</a></li>
                        <li><a href="#">Garden Stakes</a></li>
                        <li><a href="#">Stepping Stones</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!------------------------------------------------------------------------------------------------>
        <li><a href="/Cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>    CART</a></li>
        <li id="logout-btn"><a href="/home/logout">Logout</a></li>
    </ul>
</nav>




